:root {
  --primary-text-color: #212121;
  --header-adress-color: #757575;
  --accent-color: #2196f3;
  --top-color: #ffffff;
  --footer-header-bgd-color: #2f303a;
  --secondary-bgd-color: #f5f4fa;
  --third-bgd-color: #188ce8;
  --footer-grey-color: rgba(255, 255, 255, 0.6);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--top-color);
}
image {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
button {
  cursor: pointer;
}
.accent {
  color: var(--accent-color);
}
.our-works__item,
.our-works__list,
.project,
.menu,
.menu__item,
.header__menu,
.communications,
.communications__item,
.contacts,
.footer-social__list,
.special__list,
.doing__list,
.comands__list {
  list-style-type: none;
}
/*---------------------HEADER---------------------*/

.header {
  border: 1px solid #ececec;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;

  color: inherit;
}
.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
}
.header__menu {
  margin-left: 93px;
}
.menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu__item {
  margin-right: 40px;
  display: block;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__link {
  display: block;
  position: relative;

  text-decoration: none;

  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}
.menu__link.current {
  color: var(--accent-color);
}
.menu__link.current::after {
  display: block;
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;

  background-color: #2196f3;
  border-radius: 2px;
}

.header__contacts {
  margin-left: auto;
}
.communications__item {
  display: block;
  margin-right: 50px;
}
.communications__item:last-child {
  margin-right: 0px;
}
.communications__link {
  display: inline-flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--header-adress-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.communications__link:hover,
.communications__link:focus {
  color: var(--accent-color);
}
.communications__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*---------------------СТРАНИЦА СТУДИЯ--------------------*/
.base__hero {
  margin: 0 auto;
}
.hero {
  background-color: var(--footer-header-bgd-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__title {
  color: var(--top-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 696px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.hero__btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  min-width: 200;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--top-color);

  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--third-bgd-color);
}
.hero__btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.special {
  padding-top: 94px;
  padding-bottom: 47px;
}
.special__list {
  display: inline-flex;
}
.special__item {
  margin-right: 30px;
  width: 270px;
}
.special__item:last-child {
  margin-right: 0px;
}
.special__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}
.icon-clock::before {
  background-image: url("../images/clock.svg");
}
.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}
.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}
.special__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.special__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--header-adress-color);
  letter-spacing: 0.03em;
}
.doing {
  padding-top: 47px;
  padding-bottom: 94px;
}
.doing__list {
  display: flex;
  width: 370px;
}
.doing__item:last-child {
  margin-right: 0px;
}
.base-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.doing__base-title {
  margin-bottom: 50px;
}
.doing__item {
  margin-right: 30px;
  position: relative;
}
.doing__item:last-child {
  margin-right: 0px;
}
.doing__img {
  display: block;
  max-width: 370px;
  height: auto;
}
.doing__text {
  display: flex;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.comands {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bgd-color);
}
.comands__list {
  display: flex;
}
.comands__item {
  text-align: center;

  margin-right: 30px;

  background-color: var(--top-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comands__item:last-child {
  margin-right: 0px;
}
.comands__img {
  display: block;

  max-width: 100%;
  height: auto;
}
.comands__base-title {
  margin-bottom: 50px;
}
.employee {
  padding-top: 30px;
  padding-bottom: 30px;
}
.employee__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.employee__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 16px;

  color: var(--header-adress-color);
}
.social {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  background-color: #ffffff;
}
.social__item {
  display: inline-flex;
  justify-content: center;

  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0px;
}
.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 44px;

  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}
.regular-customers__list {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  margin-top: 50px;

  background-color: #ffffff;
}
.regular-customers__item {
  display: flex;
  margin-right: 30px;
}
.regular-customers__item:last-child {
  margin-right: 0px;
}
.regular-customers__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  outline: transparent;
  height: 92px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers__link:hover,
.regular-customers__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*---------------------СТРАНИЦА ПОРТФОЛИО---------------------*/

.our-works {
  display: flex;
  flex-wrap: wrap;

  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works__list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.our-works__item {
  margin-right: 8px;

  border-radius: 4px;
}
.our-works__item:last-child {
  margin-right: 0;
}
.our-works__btn {
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;

  background-color: var(--secondary-bgd-color);

  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-works__btn:hover,
.our-works__btn:focus {
  color: var(--top-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.our-works__btn-all {
  color: var(--top-color);
  background-color: var(--accent-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
}
.project__base {
  margin: -15px;
}
.project__item {
  margin: 15px;
  background-color: #ffffff;
  width: 370px;
}
.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .wrap__text,
.project__link:focus .wrap__text {
  transform: translateY(0);
}
.wrap {
  position: relative;
  overflow: hidden;
}
.wrap__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wrap__text {
  position: absolute;

  top: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;

  color: #212121;
}
.description__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--header-adress-color);
}

/*---------------------FOOTER---------------------*/

.footer {
  display: flex;
  background: var(--footer-header-bgd-color);
  color: var(--top-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts__link {
  display: block;

  padding-top: 0;
  padding-bottom: 0;
}
.logo.footer {
  color: var(--top-color);
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress {
  width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts__adress {
  margin-top: 20px;
}
.contacts__item {
  margin-top: 9px;
}
.contacts__link {
  text-decoration: none;
  color: var(--footer-grey-color);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer__social-base {
  margin-left: 70px;
  margin-right: auto;
}
.footer-social__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-social__list {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}
.footer-social__item {
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
}
.footer-social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:last-child {
  margin-right: 0px;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-column {
  display: flex;
  align-items: baseline;
}
.subscribe__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.subscribe__form {
  display: flex;
  flex-direction: row;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-header-bgd-color);
  color: var(--top-color);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin-left: 12px;

  background-color: var(--accent-color);
  color: var(--top-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__btn:focus,
.subscribe__btn:hover {
  background-color: var(--third-bgd-color);
}
.subscribe__btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe__icon {
  background-color: inherit;
  fill: var(--top-color);
  margin-left: 10px;
}

/*---------------------Модальное окно--------------------*/
.backdrop {
  width: 100%;
  height: 100%;
  top: 0;

  background-color: rgba(0, 0, 0, 0.2);

  position: fixed;
  transition: opacity 250ms, visibility 250ms;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 40px;
}
.modal__btn-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;

  color: #212121;
}
.modal__form {
  margin-top: 12px;
}
.modal__field {
  position: relative;
  width: 448px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: var(--header-adress-color);
}
.modal__field:not(:first-child) {
  margin-top: 10px;
}
.modal__field:nth-child(5) {
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__label {
  display: block;
  font-size: 12px;

  color: var(--header-adress-color);
  margin-bottom: 4px;
}
.data {
  position: relative;
}
.data__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  outline: none;
}
.data__input:focus {
  border-color: #2196f3;
}
.data__input:focus + .idata__icon {
  fill: var(--accent-color);
}
.data__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal__comment {
  display: block;
  margin-bottom: 4px;
}
.modal__text-area {
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: none;
}
.modal__text-area:focus {
  border-color: #2196f3;
}
.modal__text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
}
.modal__check-text {
  display: flex;
  justify-content: center;
}
.modal__check:checked + .check-done::before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}
.modal__check:focus + .check-done::before {
  border-color: #2196f3;
}
.check-done {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.check-done::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
}
.link-dogovor {
  color: #2196f3;
  display: block;
  border-bottom: 1px solid var(--accent-color);
  text-decoration: none;
  line-height: 0.9;
}
.link-dogovor__done {
  margin-left: 4px;
}
.modal__btn-send {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  margin: 0 auto;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: block;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-send:focus,
.modal__btn-send:hover {
  background-color: var(--third-bgd-color);
}
.modal__btn-send:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
