.project {
  display: flex;
  flex-wrap: wrap;
  &__base {
    margin: -15px;
  }
  &__item {
    margin: 15px;
    background-color: #ffffff;
    width: 370px;
  }
  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .wrap__text,
    &:focus .wrap__text {
      transform: translateY(0);
    }
  }
}
