.social {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  background-color: #ffffff;

  &__item {
    display: inline-flex;
    justify-content: center;

    margin-right: 10px;
  }
  &__item:last-child {
    margin-right: 0px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 44px;
    width: 44px;

    border-radius: 50%;
    fill: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: #ffffff;
    }
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  &__list {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
  }
  &__item {
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:last-child {
    margin-right: 0px;
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }
}
.footer__social-base {
  margin-left: 70px;
  margin-right: auto;
}
