.wrap {
  position: relative;
  overflow: hidden;
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__text {
    position: absolute;

    top: 0;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
