:root {
    --primary-text-color:#212121;
    --header-adress-color:#757575;
    --accent-color:#2196F3;
    --top-color:#FFFFFF;
    --footer-header-bgd-color:#2F303A;
    --secondary-bgd-color:#F5F4FA;
    --third-bgd-color:#188CE8;
    --footer-grey-color:rgba(255, 255, 255, 0.6);
}